{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "plugins": ["@babel", "import", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"]
    }
  ],
  "rules": {
    // Default
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "no-console": "warn",
    "no-eval": "error",
    "no-warning-comments": "warn",
    "import/first": "error",

    // New jsx support makes these no longer necessary
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",

    // Doesn't work for our use case currently
    "react-hooks/exhaustive-deps": "off",

    /* Temporary start */
    // Type checking
    "react/prop-types": "off"
    /* Temporary end */
  }
}
