{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "@babel",
    "import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/babel",
    "prettier/react"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // Default
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "no-console": "warn",
    "no-eval": "error",
    "no-warning-comments": "warn",
    "import/first": "error",

    // New jsx support makes these no longer necessary
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",

    /* Temporary start */
    // Type checking
    "react/prop-types": "off"
    /* Temporary end */
  }
}
